body{
    margin: 0;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 16;

    display: flex;
}

.big_txt{
    max-width: 9ch;
}

.normal_txt{
    max-width: 45ch; /*ch is kinda like numbers of characters*/
}

#flex_item1{
    display: flex;
    flex-direction: column;

    /*centers flexbox item without using margins*/
    flex: 1;
    justify-content: center;
    align-items: center;
}

aside{
    height: 100vh;
}

aside img{
    height: 100%;
}
