body{
    margin: 0;

    font-family: 'Josefin Sans', sans-serif;

    display: flex;

    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
}

.big_txt{
    font-size: 70px;
    font-weight: 300;
    max-width: 9ch;
    letter-spacing: 0.2em;

    color: hsl(0, 36%, 70%);

    margin: 20px 0;
}

.bigger_txt{
    font-weight: 600;

    color: hsl(0, 6%, 24%);
}

.normal_txt{
    font-weight: 400;
    max-width: 45ch; /*ch is kinda like numbers of characters*/
    line-height: 1.8em;

    color: hsl(0, 36%, 70%);
}

#error_txt{
    margin-left: 31px;
    font-size: 14px;
    color: hsl(0, 93%, 68%);

    /*this hides the text*/
    display: none;
    overflow: hidden;
}

#flex_item1{
    display: flex;
    flex-direction: column;

    /*centers flexbox item without using margins*/
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

#flex_item1 header{
    width: 450px;/*this makes the image go left*/

    flex: 2;
    display: flex;
    align-items: center;
}

#flex_item1 main{
    flex: 5;
}

aside{
    height: 100vh;
}

aside img{
    height: 100%;
    display: block; /*for some reason this fixes the extra blank space below the image that occurs without it*/
}

#buttons{
    /*this part makes the buttons overlap with css grid*/
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 350px 100px;
}

#email_input{
    grid-area: 1 / 1 / 2 / 2;
    display: block;
    z-index: 1;

    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 36%, 70%);
    font-size: 1em;

    width: 100%;
    padding: 15px 30px;
    border: 1px solid hsl(0, 36%, 70%);
    outline: none; /*removes blue highlight*/
    border-radius: 50px;
}

#error_img{
    /*we position it in the grid*/
    z-index: 2;
    grid-area: 1 / 1 / 2 / 2;

    /*here we center the icon and put it to the right*/
    justify-self: right;
    align-self: center;

    margin-right: 15px;

    display: none;
}

#submit_button{
    grid-area: 1 / 2 / 2 / 3;

    display: block;
    z-index: 2;

    background-color: hsl(0, 80%, 86%);/*this is if the gradient doesn't work and also for hover effect*/
    background-image: linear-gradient(to right, hsl(0, 80%, 86%) , hsl(0, 74%, 74%)); /*this adds the background gradient*/

    border: none;
    color: white;
    padding: 15px 40px;
    cursor: pointer;

    float: right;

    border-radius: 50px;

    box-shadow: -2px 10px 10px hsl(0, 36%, 90%);
}

#submit_button:hover{
    background-image: none;
    box-shadow: -2px 10px 10px hsl(0, 36%, 80%);
}
